Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/hotels"
           xmlns="http://example.com/hotels"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:simpleType name="HotelId">
    <xs:restriction base="xs:string">
      <xs:pattern value="H\d{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="GBP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NonNegativeMoney">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="2"/>
      <xs:totalDigits value="7"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AmenityList">
    <xs:sequence>
      <xs:element name="Amenity" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="PricePerNight">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="NonNegativeMoney">
              <xs:attribute name="currency" type="CurrencyCode" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rating" type="RatingType"/>
      <xs:element name="Rooms" type="xs:nonNegativeInteger"/>
      <xs:element name="Amenities" type="AmenityList" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="HotelId" use="required"/>
  </xs:complexType>

  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
